variables:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  BuildConfiguration: "Release"
  DotNetVersion: 3.x

trigger: 
  - master
  - release
pr:
- master
jobs:
  - job: "BuildWindows"
    displayName: "Windows - Building .NET Application"
    pool:
      vmImage: 'windows-2019'
    steps:
      - task: UseDotNet@2
        displayName: "Install .NET Core SDK"
        inputs:
          packageType: 'sdk'
          version: '$(DotNetVersion)'
      - task: DotNetCoreCLI@2
        displayName: 'Test Windows'
        inputs:
          command: test
          publishTestResults: true
      - task: DotNetCoreCLI@2
        displayName:  'Pack'
        inputs:
          command: pack
      - task: PublishPipelineArtifact@1
        displayName: "Publish Artifact"
        inputs:
          targetPath: "$(build.artifactstagingdirectory)"
          ArtifactName: "build"
  - job: "BuildLinux"
    displayName: "Linux - Building .NET Application"
    pool:
      vmImage: 'ubuntu-latest'
    steps:
      - task: UseDotNet@2
        displayName: "Install .NET Core SDK"
        inputs:
          packageType: 'sdk'
          version: '$(DotNetVersion)'
      - task: DotNetCoreCLI@2
        displayName: 'Test Linux'
        inputs:
          command: test
      - task: DotNetCoreCLI@2
        displayName: 'Build Linux'
        inputs:
          command: build
  
  - deployment: "NugetPublish"
    dependsOn: ["BuildWindows", "BuildLinux"]
    condition:  and(succeeded(), eq(variables['build.sourceBranch'], 'refs/heads/release'))
    displayName: "Publish to Nuget"
    environment: "NuGet"
    pool:
      vmImage: 'ubuntu-latest'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: 'UseDotNet@2'
            displayName: "Install .NET Core SDK"
            inputs:
              packageType: 'sdk'
              version: '$(DotNetVersion)'            
          - task: DotNetCoreCLI@2
            displayName: "Push to NuGet"
            inputs:
              command: 'push'
              packagesToPush: '$(Pipeline.Workspace)/*.nupkg;$(Pipeline.Workspace)/*.snupkg'
              nuGetFeedType: 'external'
              publishFeedCredentials: 'NuGet'